/videoLogs
*/DebugHandler.py
!.gitignore
__pycache__/
/venv/*
data/openedPrograms.txt
data/user-data.json
data/saved-settings.json
data/logs/*
data/audio-logs/*
data/web_searches/*
.env
spotify_token.json
data/saved-settings.json
