/videoLogs
*/DebugHandler.py
!.gitignore
__pycache__/
/venv/*
data/openedPrograms.txt
data/user-data.json
data/logs/*
data/audio-logs/*
data/web_searches/*
data/tournaments.json
.env
spotify_token.json
data/saved-settings.json
data/ai_chat_history.json
data/saved-settings.json
models/Qwen2.5-3B-Instruct-Q4_K_M.gguf